@import '../styles/theme.css';

.bottom-nav {
  position: fixed;
  left: 0; right: 0; bottom: 0;
  height: 56px;
   background: color-mix(in srgb, #000 35%, transparent);
  backdrop-filter: blur(2px);
  color: #fff;
  border: 1px solid rgba(255,255,255,.15);
  box-shadow: var(--shadow-md);
  z-index: 50;
}

.bottom-nav_inner {
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bottom-nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text-secondary);
  text-decoration: none;
  gap: 2px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 6px;
  border-radius: 6px;
}

.bottom-nav_item:hover{
  background-color: rgba(var(--color-text),0.1);
  color: var(--color-text-secondary);
}

.bottom-nav_item.is-active { color: rgb(var(--color-text)); }

.bottom-nav_icon { line-height: 0;}


@supports(padding: max(0px)) {
  .bottom-nav { padding-bottom: max(env(safe-area-inset-bottom), 0px); }
}

@media (min-width: 1200px) {
  .bottom-nav{
    width: 56px;
    height: auto;
    bottom: 0; left: 0; top: 0; right: auto;
    border-top: none;
    border-right: 1px solid var(--color-border);
  }

  .bottom-nav_inner{
    width: 100%;
    margin-top: 25px;
    max-height: 50vh;
    grid-template-columns: 1fr;
    justify-content: center;

  }
}